* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 246, 246);
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

.general-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 246, 246);
  width: 30%;
  height: 100%;
  padding: 30px;
  margin: 0;
}

.detailed-container {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  background: linear-gradient(to right, rgb(60, 149, 245) 30%, rgb(255, 246, 246) );
  width: 70%;
  height: 100%;
  margin: 0;
  opacity: 1;
}

.hidden {
  display: none;
}

.search-input-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.search-input-container input {
  width: 250px;
  height: 25px;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 5px;
  padding: 10px;
}

.search-input-container img {
  width: 25px;
  height: 25px;
  position: absolute;
  padding: 5px;
  opacity: .7;
}

.weather-icon {
  display: flex;
  width: 175px;
  padding: 20px;
}

.location {
  margin: 0;
}

.temperature {
  font-size: 70px;
  font-weight: 100;
  margin: 10px;
}

.weather-description {
  margin: 0;
}

hr {
  height: 3px;
  border: none;
  border-radius: 2px;
  background-color: rgba(103, 0, 0, 0.3);
  width: 75%;
  margin-top: 60px;
}

.date {
  margin-top: 40px;
  margin-bottom: 10px;
}

.time {
  margin: 0;
}

.detailed-top {
  display: flex;
  gap: 10px;
  padding: 0 30px 0 30px;
}

.detailed-top button {
  display: flex;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.time-period {
  font-weight: 100;
  color: rgb(255, 246, 246);
}

.now-card-container {
  display: none;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.today-card-container {
  display: none;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 400px;
}

.detailed-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 125px;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 246, 246, 0.3);
  padding: 15px;
}

.card-header p, .card-main p, .card-foot p {
  margin: 0;
}

.card-header p {
  font-size: .8rem;
  opacity: .7;
}

.card-main p {
  font-size: 2rem;
}

.card-foot p {
  opacity: .8;
  font-size: .8rem;
  display: inline;
}

.detailed-card p span {
  font-size: 1rem;
}

.card-main .air-pollution {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.air-pollution span {
  color: rgb(1, 186, 41);
}

.card-foot .wind span {
  font-size: .7rem;
}

.today-card-container .card-main p {
  font-size: .9rem;
}